.App {
    width: 50%;
    margin: 0 auto;
}

.text-align-center{
    text-align: center;
}

/*radioHorizontal*/
.question_item_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: end;

}

.question_item_ > p {
    justify-self: start;

}

.question_item__answer > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    justify-items: center;
}
